# For information about this file, see the following:
#
# https://github.com/swiftlang/repo-templates/blob/main/.github/CODEOWNERS
# https://docs.github.com/en/articles/about-code-owners

* @amartini51 @rolsen8
